main {
        width: 100%;
        height: 100%;
}


#map {
    position: fixed;
    width:100%;
    height:100%;
}

.leaflet-bottom .leaflet-control-zoom {
    margin: var(--window-margin);
    z-index: 999;
}

.leaflet-popup {
    z-index: 999;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: var(--text-color);
}

.leaflet-popup-content {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.75rem;
}

.card {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 20;
    width: clamp(400px, 40vw, 500px);
    height: calc(100% - var(--window-margin) * 2);
    margin: var(--window-margin);
    padding: 2rem;
    border-radius: 25px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.8);
}

.movie {
    flex: 2;
}

.movie em {
    font-style: normal;
    color: var(--highlights-color);
}

.graph {
    flex: 1;
}

.label {
    font-size: 0.7rem;
}

/* Couleurs du graphe */
.domain, .tick {
    color: var(--text-color);
}

.card-divider {
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid var(--text-color);
}

h2 {
    color: var(--text-color);
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
    /* font-size: clamp(); */
}

nav {
    display: flex;
    justify-content: end;

    position: absolute;
    z-index: 999;
    right: 0px;
    height: min-content;
    margin: var(--window-margin);
}

a.button {
    padding: .7rem 2rem;
    border-radius: 30px;
    background-color: var(--tertiary-color);

    text-decoration: none;
    color: var(--text-color);
}

a.button:hover {
    background-color: var(--highlights-color);
}